parameters:
    level: 5
    paths:
        - src
    excludePaths:
    ignoreErrors:
        # Ignore missing iterable value types
        - identifier: missingType.iterableValue
        # Ignore mixed types from database results
        - '#Method App\\Models\\[a-zA-Z]+::[a-zA-Z]+\(\) return type has no value type specified in iterable type array#'
        - '#Method App\\Models\\[a-zA-Z]+::[a-zA-Z]+\(\) has parameter \$[a-zA-Z]+ with no value type specified in iterable type array#'
    
    reportUnmatchedIgnoredErrors: false
